body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #df0c0cfe;
  font-size: ;
}
h2{
  color:black
}
p {
  color: #555;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background: #0056b3;
}
